@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body {
  font-family: 'Raleway', sans-serif;
}


:root {
    --accent-color: #005A9C;
    --secondary-color: white;
    --text-color: black;
  }
  
  [data-theme="theme1"] {
    --accent-color: #005A9C;
    --secondary-color: white;
    --text-color: #BA0021;
  }
  
  [data-theme="theme2"] {
    --accent-color: #BA0021;
    --secondary-color: white;
    --text-color: #005A9C;
  }
  
  body {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }
  
  button {
    
    color: var(--secondary-color);
  }
  
  h1 {
    color: var(--text-color);
  }
  